doctype 5
html
  head
    meta(property='og:title', content='I passed the exam!')
    meta(property='og:url', content='http://kalkomey.com')
    meta(property='og:image', content='http://kalkomey.com/images13/kalkomey_logo.png')
    meta(property='og:description', content='Just wanted to tell you guys what I did.')

    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://localhost:35729/livereload.js')
    script.
      var switchTo5x=true;
    script(src='http://w.sharethis.com/button/buttons.js')
    script.
      stLight.options({publisher: "a53da673-8a5b-4bf7-b174-66795dec57ec", doNotHash: false, doNotCopy: false, hashAddressBar: false});
  body
    block content
